{
  debug
  skip_install_trust
  http_port 9900
  https_port 9901
  auto_https disable_redirects
  auto_https off
  servers {
    protocols h1 h2c
  }
}
:9900 :9901 {
  reverse_proxy h2c://backend:3000
}
