---
import { Tournament } from "../ts/Types";

export interface Props {
    tournament: Tournament,
}

const {tournament} = Astro.props as Props;

---

<div class="bg-primary w-auto h-auto rounded-xl flex items-center font-nunito text-tx p-1 pl-2 mb-2 mr-2">
    {tournament.id} : {tournament.full_name} ({tournament.shorthand})
</div>

<style>

</style>